<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 卡 6: HLS 拉流要联网; iptv-org 的 CN 源很多走 HTTP (cleartext),
         需要 cleartextTrafficPermitted=true -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 卡 6: TV 端焦点/遥控器支持 -->
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application
        android:label="@string/app_name"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:stopWithTask="true">
            <!-- android:stopWithTask="true"  (P3-1 6/18):
                 任务栏划掉 APP / 系统回收任务时, 强制结束 native Activity
                 进程.  默认 false → 用户杀任务时 Activity 继续跑, 播放
                 (libmpv) 还在解码推 PCM, 声音就不释放.  设 true 后系统
                 杀任务时同步 stop Activity, 配合 Dart 端 WidgetsBindingObserver
                 (AppLifecycleState.detached) 调 PlayerService.stop/dispose,
                 三层保险释放资源.  P0 严重 bug 修复. -->
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <!-- 卡 6: TV 端 Launcher 入口 (Android TV/盒子) -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
